
<section class="h-100 my-5">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="card rounded-3 text-black" style="background-color: #eee;">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>
                <p>Please login to your account</p>
                <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                  <div class="form-outline mb-4">
                    <label class="form-label mb-2 sr-only" for="username">Username</label>
                    <input type="text" id="username" class="form-control" placeholder="Username"  formControlName="userName" />
                    <span class="text-danger" *ngIf="!loginForm.get('userName').valid && loginForm.get('userName').touched">Username is required</span>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label mb-2 sr-only" for="userPass">Password</label>
                    <input type="password" id="userPass" placeholder="Password" class="form-control" formControlName="password"  />
                    <span class="text-danger" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Password is required</span>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                      in</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger"><a routerLink="/register">Register</a></button>
                  </div>

                </form>

              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</section>
