
 <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px; background-color: #eee;">
          <div class="card-body p-4 p-md-4">
            <div class="text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                style="width: 185px;" alt="logo">
              <h2 class="mb-4 font-weight-bold">We are The Lotus Team</h2>
            </div>
            <h4 class="text-center">Create An Account</h4>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <h4 class="mb-2 pb-1"> <i class="fa fa-user"></i> User</h4>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" id="hod" value="HOD" checked formControlName="role"/>
                    <label class="form-check-label" for="hod">HOD</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" id="staff" value="Staff" formControlName="role" />
                    <label class="form-check-label" for="staff">Staff</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control form-control-lg"  formControlName="firstName"  />
                    <span class="text-danger" *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched">*First Name is required</span>
                  </div>

                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control form-control-lg"  formControlName="lastName"  />
                    <span class="text-danger" *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched">*Last Name is required</span>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="username">Username</label>
                    <input formControlName="username"  id="username" type="text" class="form-control form-control-lg"  formControlName="username" >
                    <span class="text-danger" *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched">*Username is required</span>
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="password">Password</label>
                    <input id="password" type="password" class="form-control form-control-lg"  formControlName="password"  formControlName="password" >
                    <span class="text-danger" *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">*Password is required</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" class="form-control form-control-lg"  formControlName="email" />
                    <span class="text-danger" *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">*Email is required</span>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="contactNo">Phone Number</label>
                    <input type="tel" id="contactNo" class="form-control form-control-lg"  formControlName="contactNo" />
                    <span class="text-danger" *ngIf="!registerForm.get('contactNo').valid && registerForm.get('contactNo').touched">*Phone Number is required</span>
                  </div>
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-12">
                  <label class="form-label select-label">Department</label>
                  <select class="custom-select form-control-lg"  formControlName="department">
                    <option value="0" selected disabled>Choose option</option>
                    <option value="Administration">Administration</option>
                    <option value="Account">Account</option>
                    <option value="Teaching">Teaching</option>
                    <option value="Labrotary">Labrotary</option>
                  </select>
                  <span class="text-danger" *ngIf="!registerForm.get('department').valid && registerForm.get('department').touched">*Department is required</span>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit"
                  class="btn btn-success btn-block btn-lg gradient-custom text-body" [disabled]="!registerForm.valid">Register</button>
              </div>

              <p class="text-center text-muted mt-5 mb-0">Have already an account?
                <button type="button" class="btn btn-outline-info">
                  <a routerLink="/login">Login</a>
                </button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
